# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# Sensitive files
credentials.json
script.py
generate_hashes.py
guraradamwaterlevel.csv
rainfalldata.csv
security_report.csv
staffcomposition.csv
standpipedata.csv
reliefwell_data.csv
airvalves.csv
buildings_.csv
buildings_.xlsx
buildings_items.csv
centerPivot.csv
machineries.csv
standpipedata.csv
imageList.csv
structural_components.csv
seepage.csv

# .streamlit/secrets.toml
*.key
*.pem

# Streamlit
# .secrets.toml

# IDE
.vscode/
.idea/